PORT=8000
MONGODB_URI=mongodb://ShravaniSarode56:<db_password>@ac-ftarnez-shard-00-00.bury1f1.mongodb.net:27017,ac-ftarnez-shard-00-01.bury1f1.mongodb.net:27017,ac-ftarnez-shard-00-02.bury1f1.mongodb.net:27017/?ssl=true&replicaSet=atlas-i8qnpx-shard-0&authSource=admin&appName=Shravani77
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=code-and-shravani
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=backend-and-shravani
REFRESH_TOKEN_EXPIRY=10d